* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #4362ec;
  --secondary-color: #0f4397;
  --brand-gradient: linear-gradient(to right, #4362ec, #0f4397);

  --black: #24252c;
  --black-75: #5b5c60;
  --black-50: #919295;
  --black-25: #c8c9ca;
  --black-10: #e9e9ea;
  --black-5: #f4f4f4;
  --white: #ffffff;

  --error: #ed4261;
}

html {
  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
  color: var(--black-75);
}

body {
  background-color: var(--white);
}

/* -------- Header - Navbar - Socials ---------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.logo-icon {
  height: 2rem;
  width: auto;
}

/* Navigation links */
.nav {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.nav-link:hover {
  transform: scale(1.05);
  color: var(--primary-color);
}

/* Social Links */
.socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social {
  width: 2rem;
  cursor: pointer;
  color: var(--black);
  transition: all 0.4s ease-out;
}

.social:hover {
  transform: scale(1.05);
  color: var(--primary-color);
}

.menu {
  display: none;
}

.mobile-menu {
  display: none;
}

/* -------- HERO SECTION ---------*/

.hero {
  max-width: 90rem;
  margin: 16rem auto;
  padding: 0 2rem;
  gap: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.name {
  font-size: 3.1rem;
  font-weight: 300;

  background: var(--brand-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.profile {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 7.5rem;
  color: var(--black);
}

.hero-info-cta {
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

.hero-info {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.hero-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  color: var(--white);
  background: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background: var(--brand-gradient);
}
.btn-secondary {
  color: var(--black);
  background: var(--white);
  outline: 2px solid var(--black);
  outline-offset: -2px;
}

/* ---------- Responsive Design ---------- */

/* 1. Laptop and Tablets- 1400 to 1000 px */

/* @media (max-width: 1400px) {
} */

/* 2. Laptop and Tablets- 1024 to 600 px */
@media (max-width: 1024px) {
  .header {
    position: relative;
  }

  .nav {
    display: none;
  }

  .socials {
    display: none;
  }

  .menu-open {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--black);
  }

  .mobile-menu,
  .mobile-nav,
  .mobile-socials,
  .menu-close {
    display: none;
    flex-direction: column;
  }

  .mobile-menu {
    position: absolute;
    background-color: var(--black-5);
    top: 0;
    right: 0;
    height: 100%;
    padding: 4rem 8rem 4rem 8rem;
    align-items: flex-end;
    gap: 6rem;
    box-shadow: 1px -5px 15px rgba(36, 37, 44, 0.2);
  }

  .menu-close {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--black);
  }

  .social {
    width: 2.5rem;
  }

  .profile {
    font-size: 5.5rem;
    line-height: 6.5rem;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 1.5rem 3rem;
  }

  .hero {
    gap: 4rem;
  }

  .profile {
    font-size: 3.8rem;
    line-height: 4.5rem;
  }

  .hero-cta {
    flex-direction: column;
  }

  .hero-info-cta {
    gap: 6rem;
  }

  .hero-info {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
